
# Creado por https://www.gitignore.io/api/c++,linux,qtcreator,visualstudiocode
# Editar en https://www.gitignore.io/?templates=c++,linux,qtcreator,visualstudiocode

### C ++ ###
# Prerrequisitos
*.re

# Archivos de objetos compilados
* .slo
* .lo
* .o
* .obj

# Encabezados precompilados
* .gch
* .pch

# Bibliotecas dinámicas compiladas
*.entonces
* .dylib
* .dll

# Fortran archivos de módulo
*.modificación
* .smod

# Bibliotecas estáticas compiladas
* .lai
*.la
*.una
* .lib

# Ejecutables
*.exe
*.fuera
* .app

### Linux ###
* ~

# archivos temporales que se pueden crear si un proceso todavía tiene un identificador abierto de un archivo eliminado
.fuse_hidden *

# Preferencias de directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Basura-*

Los archivos # .nfs se crean cuando se elimina un archivo abierto pero aún se está accediendo a él
.nfs *

### QtCreator ###
# gitignore para Qt Creator como IDE para proyecto C / C ++ puro sin Qt
# #
# Referencia: http://doc.qt.io/qtcreator/creator-project-generic.html



# Qt Creator archivos autogenerados


# Una lista de todos los archivos incluidos en el proyecto
* archivos

# Incluir directorios
* .incluye

# Ajustes de configuración del proyecto como macros predefinidas
* .config

# Configuración de Qt Creator
*.creador

# Configuración del proyecto del usuario
* .creator.user *

# Qt Creator backups
* .autosave

### VisualStudioCode ###
.vscode / *
! .vscode / settings.json
! .vscode / task.json
! .vscode / launch.json
! .vscode / extensiones.json

### VisualStudioCode Patch ###
# Ignorar todo el historial local de archivos
.historia

# Fin de https://www.gitignore.io/api/c++,linux,qtcreator,visualstudiocode 
